{% extends 'base.html' %}
    !-- Search form -->
{% block content %}

     <nav  class="navbar navbar-light" style="background-color: #5b80b2;" >

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'product:list' %}">Product list <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%  url 'product:create' %}">create new product</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/product/search" method="GET">
      <input class="form-control mr-sm-2" type="search"  name='q' placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <h1 dir="rtl" align="center">فروشگاه آنلاین</h1>
    <div class="row" style="margin-left: 100px;">
        {% for product in product %}
            <div class="card" style="width: 18rem; margin-top: 50px;">
                <img src="{{ product.image_url}}"  class="card-img-top" alt="..." style="width: 18rem; height: 20rem " >
                <div class="card-body">
                    <h5 class="card-title" dir="rtl" align="right">نام محصول : {{ product.name }}</h5>
                    <p class="card-text" dir="rtl" align="right">قیمت : {{ product.price }} ریال</p>
                    <p class="card-text" dir="rtl" align="right">توضیحات : {{ product.explain }} </p>
                    <a href="order?name={{ product.name }}" class="btn btn-primary" dir="rtl" align="right" methods="POST" onClick=>افزودن به سبد خرید</a>
                </div>
            </div>
            <div class="col"></div>

        {% endfor %}
    </div>


{% endblock %}

