{% extends 'base.html' %}
    !-- Search form -->
{% block content %}
    <form class="form-inline md-form mr-auto mb-4" action="/product/search" method="GET">
  <input id="search-box" class="form-control mr-sm-2" type="text" name='q' placeholder="Search" aria-label="Search" >
  <button class="btn btn-elegant btn-rounded btn-sm my-0" type="submit" >Search</button>
</form>


    <h1 dir="rtl" align="center">فروشگاه آنلاین</h1>
    <div class="row" style="margin-left: 100px;">
        {% for product in product %}
            <div class="card" style="width: 18rem; margin-top: 50px;">
                <img src="{{ product.image_url}}"  class="card-img-top" alt="..." style="width: 18rem; height: 20rem " >
                <div class="card-body">
                    <h5 class="card-title" dir="rtl" align="right">نام محصول : {{ product.name }}</h5>
                    <p class="card-text" dir="rtl" align="right">قیمت : {{ product.price }} ریال</p>
                    <p class="card-text" dir="rtl" align="right">توضیحات : {{ product.explain }} </p>
                    <a href="#" class="btn btn-primary" dir="rtl" align="right">افزودن به سبد خرید</a>
                </div>
            </div>
            <div class="col"></div>

        {% endfor %}
    </div>


{% endblock %}

