{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <button>gfgggggg to Cart</button>

    <div class="row">
        {% for product in product %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">قیمت : {{ product.price }}</p>
                    <p class="card-text">توضیحات :{{ product.explain }} ریال </p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="col"></div>

        {% endfor %}
    </div>



{% endblock %}

