{% load socialaccount %}
{% providers_media_js %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Registration</title>
</head>
<body>
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }} {{ user.email }}</p>
{#    <script>#}
{#        console.log("dsklhfskldfklshdfklhskldhfklshdklfhskdh",csrftoken);#}
{#        alert('token is : '+csrftoken);#}
{#    </script>#}
    <nav>
    <ul>
        <li>
            <form class="logout-link" method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </li>
        <li>
             <a href="{% provider_login_url 'google' %}" style="background-color: lightskyblue"   >Login with another Google</a>

        </li>
{#        <li>#}
{#               <a href="signup" class="btn btn-primary" style="background-color: #fffccf">SignUp</a>#}
{#        </li>#}
        <li>
             <a href="product" class="btn btn-primary" style="background-color: #fffccf" >Display Product </a>
        </li>
    </ul>
    </nav>



  {% else %}
    <form action="{% url 'accounts:login' %}" method="post">
    {{ form }}
    {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="nextpage" value="{{ request.GET.next }}">
        {% endif %}
    <input type="submit" value="login">
    </form>
 <a href="{%  url 'accounts:signup' %}" class="btn btn-primary" style="background-color: #fffccf">SignUp</a>
  <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Login with Google</a>
  {% endif %}

<script>function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');</script>


</body>
</html>
